@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.container{
    width: 100%;
}

.herocontainer {
    background-image: url(images/backkground.png);
    background-position: 600px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headcontainer{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }

    header{
    display: flex;
    justify-content: space-between;
  }

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.5rem;
    list-style: none;
    
  }

  nav li{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: white;
  }

  .hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 3rem 0; */
  }

  .heroimg{
    width: 62%;
    margin-left: 4rem;
    margin-top: 8rem;
  }

  .heroimg img{
    width: 101%;
  }

  .herotext{
    width: 38%;
    margin: 8rem 0;
  }

  .herotext h4{
font-family: Dm Sans;
font-size: 38px;
font-weight: 700;
line-height: 60px;
text-align: left;
width: 92%;
  }

  .herotext p{
font-family: Nunito;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;
color: #6B7280;
margin: 2rem 0;
  }

  .herobtn button{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFF8F1;
padding: 14px 24px 14px 24px;
background: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
border-radius: 12px;
border: none;
  }


  .servicecontainer{
    width: 100%;
    background-color: #F9F9F9 ;
    
  }
  .service{
    width: 80%;
    margin: auto;
  }

  .topservice{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .topservice h3{
font-family: Archivo;
font-size: 32px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: #161E2E;
  }

  .topservice p{
font-family: Dm Sans;
font-size: 14px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #161E2E;
width: 25%;
margin-top: 1rem;
  }

  .phoneservices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  .delivery{
    display: flex;
  }

  .first{
    display: flex;
    margin-bottom: 8rem;
    gap: 3rem;
  }
  .second{
    display: flex;
    gap: 3rem;
  }

  .phone{
    width: 100%;
  }

  .phone img{
    width: 70%;
  }

  .deliveryimage{
    width: 100%;
  }
  .deliveryimage img{
    width: 70%;
  }

  .deliverytext h5{
font-family: Dm Sans;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #161E2E;
overflow: hidden;
  }

  .deliverytext p{
font-family: Dm Sans;
font-size: 16px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #161E2E;
  }

  .processcontainer{
    background: linear-gradient(219.36deg, #C11717 0%, #FF8A4C 100%);
  }

  .processs{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
  }

  .process{
    text-align: center;
  }
  .process h3{
margin-top: 6rem;
font-family: Archivo;
font-size: 36px;
font-weight: 700;
line-height: 39.17px;
color: white;
  }

  .process p{
font-family: Dm Sans;
font-size: 16px;
font-weight: 400;
line-height: 27px;
color: white;
margin-top: 1rem;
margin-bottom: 3rem;
width: 55%;
margin-left: 12rem;
  }

  .processimg{
    display: flex;
    position: relative;
  }

  .processdel{
    margin-left: 18rem;
    margin-top: 18rem;
  }

  .pack{
    margin-top: -1rem;
    /* justify-content: space-between; */
    gap: 3rem;
  }

  .pack h5{
font-family: Dm Sans;
font-size: 16px;
font-weight: 600;
line-height: 27px;
text-align: center;
color: #FFFFFF;
width: 75%;
margin-left: 1rem ;
  }

  .pack p{
font-family: Dm Sans;
font-size: 11px;
font-weight: 400;
line-height: 19px;
text-align: center;
color: white;
width: 60%;
margin-left: 2rem ;
  }

  
  .line{
    margin-top: -14rem;
    margin-left: 1.5rem;
    width: 80%;
  }

  .pricecontainer{
    width: 75%;
    margin: auto;
    margin-bottom: 6rem;
  }

  .price{
    align-items: center;
    text-align: center;
    
  }

  .price h2{
font-family: Archivo;
font-size: 36px;
font-weight: 700;
line-height: 39.17px;
color: #161E2E;
margin-top: 6rem;
margin-bottom: 1rem;
  }

  .price p{
font-family: Dm Sans;
font-size: 16px;
font-weight: 400;
line-height: 27px;
text-align: center;
color: #161E2E;
width: 500px;
height: 109px;
margin-left: 12rem;
  }

  .priceduration{
    margin-left: 22rem;
  }

  .pricerange{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }

  .cardcont{
    border: 2px solid #FCD9BD;
    width: 80%;
    border-radius: 18px;
    margin-top: 3rem;
    margin-left: 3rem;
    padding-top: 1rem ;
    padding-left: 1rem ;
    padding-bottom: 1rem ;
    }
    
    .card2{
        box-shadow:  -5px -8px 5px pink, 5px 8px 5px pink;
    }

    
    .card{
        text-align: left;
    }
    
    .card h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 900;
    line-height: 43.57px;
    text-align: left;
    color: #FF5A1F;
    }
    
    span{
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    text-align: left;
    }
    
    .card h4{
        font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: left;
    color: #6B7280;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    
    .check{
        width: 15%;
    }
    
    .localdel{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    }
    
    .localdeli h4{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;    
    color: #161E2E;
    }
    
    .local p{
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #4B5563;
    width: 75%;
    margin-left: 2.1rem;
    }
    
    .ld{
     margin-top: 1rem;
    margin-bottom: 1rem;
    }
    
    .ld2{
     margin-top: 1rem;
    margin-bottom: 1rem;
    }
    
    .cardbtn{
        margin-top: 2rem;
    }
    
    .cardbtn button{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFF8F1;
    background: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
    padding: 14px 32px 14px 32px;
    border-radius: 12px;
    border: none;
    width: 89%;
    }

  .deliveryy{
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

.deliverymethods{
    display: flex;
    gap: 2rem;
    justify-content: space-between;  
}

  .fsdf img{
    width: 100%;
  }
  .fsdm img{
    width: 100%;
  }
  .fsdl img{
    width: 100%;
  }

  .faqcontainer{
    width: 70%;
    margin: auto;
  }
  
  .faq h2{
font-family: Archivo;
font-size: 36px;
font-weight: 700;
line-height: 39.17px;
text-align: center;
margin: 3rem;

  }

  .payplans{
    border-style: outset;
    padding: 1.7rem;
    margin: 1rem;
  }

  .payplan h5{
font-family: Archivo;
font-size: 16px;
font-weight: 700;
line-height: 39.17px;
text-align: left;
color: #FF5A1F;
  }

  .pay p{
font-family: Archivo;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.01em;
text-align: left;
color: #4B5563;
width: 688px;

  }
  .cancellation{
    border-style: outset;
    padding: 1.8rem;
    margin: 1rem;
  }


  .paycancel h5{
font-family: Archivo;
font-size: 18px;
font-weight: 400;
line-height: 19.58px;
text-align: left;
color: #4B5563;
  }

  .paymentplan{
    display: flex;
    justify-content: space-between;
  }

  .cancellation{
    display: flex;
    justify-content: space-between;
  }

  .questions h4{
font-family: Archivo;
font-size: 24px;
font-weight: 400;
line-height: 26.11px;
text-align: center;
color: #161E2E;
margin: 1.5rem;
  }

  .questions p{
font-family: Dm Sans;
font-size: 16px;
font-weight: 400;
line-height: 27px;
text-align: center;
color: #374151;
width: 500px;
margin-left: 9.5rem;
margin-bottom: 10rem;
  }

  .questions{
    text-align: center;
  }

  .contactss{
    width: 85%;
    margin: auto;
  }

  .cont{
    text-align: center;
  }

  .contacts h2{
font-family: Archivo;
font-size: 36px;
font-weight: 700;
line-height: 39.17px;
text-align: center;
color: #FFF8F1;
margin-top: 4rem;
  }

  .contacts p{
font-family: Dm Sans;
font-size: 16px;
font-weight: 400;
line-height: 27px;
text-align: center;
color:#FFF8F1 ;
margin: 1rem;
width: 352px;
margin-left: 20rem;
  }

  .contactmethods{
    display: flex;
    margin-left: 16.5rem;
    margin-bottom: 3rem;
  }

.details{
  border-radius: 10px;
  background-color: white;
  width: 38%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
  margin-left: 19rem;
  margin-bottom: 4rem;
}

input{
  border-radius: 9px;
  padding-right: 10rem;
  padding-top: 1.5rem ;
  /* border-color: #FF4F4C; */
  border: 2px solid #FF4F4C;
}

  .namedet{
    text-align: left;
    padding: 1rem 1.4rem 1rem 1.4rem;
  }

  .name h5{
font-family: Dm Sans;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: #FB9F9D;
padding-bottom: .8rem;
  }


  .maildet{
    text-align: left;
    padding: 1rem 1.4rem 1rem 1.4rem;
  }

  .mail h5{
font-family: Dm Sans;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: #FB9F9D;
padding-bottom: .8rem;
  }

  .message{
    text-align: left;
    padding: 1rem 1.4rem 1.5rem 1.4rem;
  }

  .messageinfo{
font-family: Dm Sans;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: #FB9F9D;
padding-bottom: .8rem;
  }

  .message input{
    padding-top: 6rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    list-style: none;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
  }

  .contactcontainer{
    /* background-image: url(images/backkground.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #FF5A1F;
  }

  .copyright{
    text-align: center;
    background-color: #D03801;
  }

  .copy p{
font-family: Raleway;
font-size: 14px;
font-weight: 400;
line-height: 16.44px;
color: white;
margin: .8rem;
  }

  @media screen and (max-width: 1024px){

    .heroimg{
      width: 82%;
      margin-left: 2rem;
    }
  
    .heroimg img{
      width: 100%;
    }
  
    .herotext{
      width: 38%;
      margin: 8rem 0;
    }
  
    .herotext h4{
  font-size: 30px;
  width: 100%;
    }
  
    .herotext p{
  font-size: 12px;
  margin: 2rem 0;
  width: 95%;
    }
  

    .herocontainer {
      background-position: 450px 0;
    }


    .local p{
      font-size: 10px;
      width: 80%;
      margin-left: 1rem;
      }

      .cardcont{
        width: 90%;
        border-radius: 18px;
        margin-top: 3rem;
        margin-left: 1rem;
        padding-top: 1rem ;
        padding-left: 1rem ;
        padding-bottom: 1rem ;
        }
    .topservice p{
      font-size: 14px;
      text-align: left;
      width: 35%;
      margin-top: 1rem;
        }


      
        .deliverytext p{
      font-size: 14px;
        }

    .processimg{
      display: flex;
      position: relative;
      gap: 2rem;
    }


    .process h3{
      margin-top: 6rem;
      font-family: Archivo;
      font-size: 36px;
      font-weight: 700;
      line-height: 39.17px;
      color: white;
        }
      
        .process p{
      font-family: Dm Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      color: white;
      margin-top: 1rem;
      margin-bottom: 3rem;
      width: 70%;
      margin-left: 7rem;
        }
      

    .line{
      margin-top: -12rem;
      margin-left: 1.5rem;
      width: 80%;
    }
  

    .pack{
    margin-top: -1rem;
    width: 100%;
  }
   .pack img{
    width: 100%;
  }

  .pack h5{
font-family: Dm Sans;
font-size: 16px;
font-weight: 600;
line-height: 27px;
text-align: center;
color: #FFFFFF;
width: 85%;
margin-left: 1rem ;
  }


      .pack p{
font-size: 12px;
text-align: center;
width: 90%;
margin-left: 1rem ;
  }

  .processdel{
    margin-left: 8rem;
    
  }

  .price p{
margin-left: 8.2rem;
  }


  .priceduration{
    margin-left: 16rem;
    margin-bottom: 3rem;
  }
  
  .fsdf img{
    width: 95%;
  }
  .fsdm img{
    width: 95%;
  }
  .fsdl img{
    width: 95%;
  }

   .questions p{
margin-left: 7rem;
  }

   .contacts p{
margin-left: 16rem;
  }


 .contactmethods{
    margin-left: 13rem;
    margin-top: 1rem;
  }

  .details{
  margin-left: 15.5rem;
}

.details{
  width: 45%;
}

  input{
  padding-right: 10rem;
}

}

  
  @media screen and (max-width: 900px){

    nav{
      display: none;
    }

    .herotext{
      width: 38%;
      margin: 8rem 0;
    }
  
    .herotext h4{
  font-size: 24px;
  line-height: 40px;
  width: 100%;
    }
  
    .herotext p{
  font-size: 11px;
  margin: 2rem 0;
  width: 99%;
    }
  

    .herocontainer {
      background-position: 400px 0;
    }

    .local p{
      font-size: 9px;
      width: 86%;
      margin-left: 1rem;
      }

    .deliverytext p{
      font-size: 12px;
        }
    
    .line{
      margin-top: -11rem;
    }
  

  .pack h5{
font-family: Dm Sans;
font-size: 15px;
font-weight: 600;
line-height: 27px;
text-align: center;
color: #FFFFFF;
width: 92%;
  }


      .pack p{
font-size: 10px;
text-align: center;
width: 90%;
margin-left: 1rem ;
  }

    .price p{
      margin-left: 5rem;
        }

    .priceduration{
      margin-left: 14rem;
    }

    .questions p{
      margin-left: 4rem;
        }

    .contacts p{
      margin-left: 13rem;
        }

    .contactmethods{
      margin-left: 9.5rem;
      
    }

    .details{
      margin-left: 11rem;
    }
    
    .details{
      width: 55%;
    }
    
      input{
      padding-right: 12rem;
    }
  }
  @media screen and (max-width: 768px){

    
    .topservice p{
      font-size: 12px;
        }


      
        .deliverytext p{
      font-size: 10px;
        }

    .process h3{
      margin-top: 6rem;
      font-family: Archivo;
      font-size: 36px;
      font-weight: 700;
      line-height: 39.17px;
      color: white;
        }
      
        .process p{
      margin-left: 5rem;
        }
    
    .line{
      margin-top: -10rem;
    }
.pack img{
  margin-top: 2rem;
}

  .pack h5{
font-size: 11px;
width: 80%;
  }


      .pack p{
font-size: 8px;
width: 90%;
  }

    .price p{
      margin-left: 2.5rem;
        }

    .priceduration{
      margin-left: 10rem;
    }

    .questions p{
      margin-left: 1.5rem;
        }

    .contacts p{
      margin-left: 9rem;
        }

    .contactmethods{
      margin-left: 5.8rem;
    }

    .details{
      margin-left: 7.5rem;
    }
    
    .details{
      width: 64%;
    }
    
      input{
      padding-right: 12rem;
    }

    nav{
      gap: 2.5rem;
    }
   
  }



  @media screen and (max-width: 580px){

    .hero{
      display: block;
    }

    .herotext{
      width: 80%;
      margin: 2rem 0;
    }
  
    .herotext h4{
  font-family: Dm Sans;
  font-size: 48px;
  width: 95%;
    }
  
    .herotext p{
  font-family: Nunito;
  font-size: 29px;
  margin: 2rem 0;
  overflow: hidden;
    }
  

    .herocontainer {
      background-image: url(images/backkground.png);
      background-position: 0px 650px;
      background-repeat: no-repeat;
      background-size: cover;
    }


    .phoneservices{
      display: block;
      flex-direction: row-reverse;
    }
  
    .delivery{
      display: block;
    }
  
    .first{
      display: block;
      margin-bottom: 8rem;
      gap: 3rem;
    }
    .second{
      display: block;
      gap: 3rem;
    }

    .processimg{
      display: block;
    }

    .questions p{
      width: 100%;
      margin-left: -.1rem;
        }

        .contactmethods{
          display: block;
          margin-left: -1rem;
        }

        .logo{
          margin-left: 7.5rem;
        }

        footer{
          display: block;
          margin: 2rem;
        }

        .contacts p{
          font-size: 21px;
          width: 90%;
          margin-left: 1rem;
            }

            .pack h5{
              font-family: Dm Sans;
              font-size: 22px;
              margin-left: 2rem ;
                }
              
                .pack p{
              font-size: 20px;
              width: 60%;
              margin-left: 2rem ;
              overflow: hidden;
              margin-left: 5rem;
              margin-top: 1rem;
              margin-bottom: 4rem;
                }

                .process h3{
                  font-size: 36px;
                    }
                  
                    .process p{
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 27px;
                  color: white;
                  margin-top: 1rem;
                  margin-bottom: 3rem;
                  width: 80%;
                  margin-left: 3rem;
                    }

                    .details{
                      width: 85%;
                      margin-left: 3rem;
                    }

                    .line{
                      display: none;
                    }

                    .processdel{
                      display: none;
                    }

                    .deliverymethods{
                      display: block;
                  }

                  .fsdm img{
                    margin-bottom: 3rem;
                    margin-top: 3rem;
                  }
              
                  .pricerange{
                    display: block;
                  }

                  .localdeli h4{
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 19.36px;
                    text-align: left;    
                    color: #161E2E;
                    overflow: hidden;
                    }
                    
                    .local p{
                    font-family: Inter;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #4B5563;
                    width: 70%;
                    overflow: hidden;
                    margin-left: 3.5rem;
                    }

                    .card2{
                      box-shadow: 0px 0px 0px;
                  }

                  .priceduration{
                    margin-left: 5rem;
                  }

                  .price p{
                    font-size: 16px;
                    width: 100%;
                    margin-left: 0rem;
                      }

                      
  .topservice h3{
    font-family: Archivo;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #161E2E;
      }
    
      .topservice p{
    font-family: Dm Sans;
    font-size: 18px;
    color: #161E2E;
    width: 65%;
    margin-top: 1rem;
      }
    
      .phoneservices{
        align-items: center;
        /* justify-content: space-between;
        margin-bottom: 8rem; */
      }
    
      .first{
        margin-bottom: 2rem;

      }
    
      .phone{
        width: 100%;
        margin-left: 3rem;
      }
    
      .phone img{
        width: 70%;
      }
    
      .deliveryimage{
        width: 100%;
        margin-left: 8rem;
        margin-top: 2rem;
      }

      .deliveryimage img{
        width: 30%;
      }
    
      .deliverytext h5{
    font-size: 27px;
    overflow: hidden;
    margin-left: 9rem;
      }
    
      .deliverytext p{
    font-size: 22px;
    width: 80%;
    text-align: center;
    margin-left: 1.5rem ;
    margin-top: 2rem;
    margin-bottom: 2rem;   
  }
}


  @media screen and (max-width: 480px){

 
    .herotext h4{
      font-family: Dm Sans;
      font-size: 38px;
      width: 100%;
      overflow: hidden;
        }
      
        .herotext p{
      font-family: Nunito;
      font-size: 30px;
      width: 100%;
      margin: 2rem 0;
      overflow: hidden;
        }

    .topservice p{
      font-family: Dm Sans;
      font-size: 20px;
      color: #161E2E;
      width: 85%;
      margin-top: 1rem;
        }

    .deliverytext h5{
      font-size: 27px;
      overflow: hidden;
      margin-left: 7rem;
        }

        .deliveryimage{
          width: 100%;
          margin-left: 7rem;
          margin-top: 2rem;
        }

        .deliverytext p{
          font-size: 22px;
          width: 95%;
          text-align: center;
          margin-left: 0rem ;
          margin-top: 2rem;
          margin-bottom: 2rem;   
        }

        .pack p{
          font-size: 20px;
          width: 80%;
          margin-left: 2rem;
            }

            .process p{
              font-size: 20px;
              width: 100%;
              margin-left: 0rem;
                }

                .faq h2{
                  font-size: 30px;
                  
                    }
                  
                    .payplans{
                      border-style: outset;
                      padding: 1.7rem;
                      padding-bottom: 1rem;
                      margin: 1rem;
                    }
                  
                    .payplan h5{
                  font-size: 16px;
                  width: 75%;
                  line-height: 25px;
                    }
                  
                    .pay p{
                  font-family: Archivo;
                  font-size: 14px;
                  width: 87%;
                  font-weight: 300;
                  line-height: 26px;
                  letter-spacing: 0.01em;
                  text-align: left;
                  color: #4B5563;
                    }
                    .cancellation{
                      border-style: outset;
                      padding: 1.8rem;
                      margin: 1rem;
                    }
                  
                  
                    .paycancel h5{
                  font-family: Archivo;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 19.58px;
                  text-align: left;
                  color: #4B5563;
                    }
                  
                    .paymentplan{
                      display: flex;
                      justify-content: space-between;
                    }
                  
                    .cancellation{
                      display: flex;
                      justify-content: space-between;
                    }

        .priceduration{
          margin-left: 3rem;
        }

        .price p{
          font-size: 20px;
          width: 100%;
            }

        .local p{
          font-size: 16px;
          width: 85%;
          overflow: hidden;
          margin-left: 2.9rem;
          }

          .questions p{
            font-size: 19px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;
            color: #374151;
            width: 100%;
            margin-bottom: 10rem;
              }

        .details{
          width: 100%;
          margin-left: 0rem;
        }

        .logo{
          margin-left: 5.5rem;
        }

        .contacts p{
          font-family: Dm Sans;
          font-size: 26px;
          width: 90%;
          margin-left: 1rem;
          overflow: hidden;
            }
          }